/* Adjusting Header
 * Moving post-title up along site-title and mainNav. Adjusting header.php
 * changing widths
 * removing search form
 */
.image-holder {
	display:none;
	}
#mainNav {
	display:inline-block;
	width: 32%;
	left:70%;
	}
.sfTab ul {
	padding-left:20px;
	}
#site-title {
	width:25%;
	}
#post-title-in-header {
	font-family:Georgia;
	font-weight:100;
	font-size:160%;
	color:black;
	display:inline-block;
	width:45%;
	text-align:center;
	padding-top:10px;
	background:white; /* very important removes black line on the to of header which is actualy background color of the body*/
	}
#post-title-in-header span {
	border:1px dotted #ccc;
	background:#f1f1f1;
	padding:10px 5px 18px 5px;
	margin-right:40px;
	bcorder-radius:5px;
	}
	
#sb-search form {
	display:none;
	}
	
#cm-effect {
	border-bottom: 1px dotted #ccc;
}	
article {
	padding:10% 0 0 0;
	}
	
.post {
	background-color: white;
	}


.gridster-box {
	bbackground-image:url(../images/ilah1.svg);
	}

